body {
    font-family: 'Roboto', sans-serif;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4285F4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

textarea {
  height: 100px;
}

.full-width {
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.padded{
  padding: 16px;
}
